.jumbotron{
    height: 500px;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/b/b5/Bakground-movie.jpg');
    background-size: cover;
}

.jumbotron > .container{
    margin-top: 180px;
    color: white;
}


@media screen and (max-width: 550px){
    .jumbotron{
        background-size: cover;
        background-position: left;
    }
}